.body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #000000;
}


.main_nav {
  position: relative;
}

.logo {
  margin-left: 533px;
  position: absolute;
  margin-top: -56px;
}

.site_nav {
  list-style-type: none;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-inline-start: 0;
}

.site_nav li {
  padding-left: 67px;
  padding-right: 67px;
}

.site_nav a {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #000000;

}

.main_title_image {
  width: 1200px;
  height: 509px;
  background: url("../img/background-photo.jpg");
  background-color: #FFFFFF;
}

.main_background_image {
  margin-top: 77px;
  margin-left: 371px;
  margin-right: 371px;
}


.main_cause {
  text-align: center;
}

.main_title_cause {
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #000000;
}

.main_text_cause {
  margin-bottom: 50px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  color: #333333;
}

.description_one_cause {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  height: 256px;
  box-sizing: border-box;
  text-align: center;
  background: #81B3D2;
}

.cause_title {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-top: 47px;
}

.cause_text {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-top: 24px;
}

.image_one_cause {
  vertical-align: middle;
  width: 800px;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;

}


.features_list {
  display: flex;
  height: 330px;
  align-items: center;
  justify-content: space-around;
  margin-top: -10px;
}

.features_list li {
  list-style-type: none;
}

.features_item {
  text-align: center;
}

.features_title {
  color: black;
  margin-top: 30px;
}

.features_text {
  color: #000000;
}

.two_cause {
  margin-top: 10px;
}

.description_rest_cause {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  height: 256px;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  background: #81B3D2;
}

.rest_cause_list {
  height: 256px;
  background: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: -25px;
  padding-left: 10px;
}

.rest_cause li {
  list-style-type: none;
}

.search_hostel_title {
  margin-top: 75px;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.search_hostel_text {
  margin-top: -8px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.form_calendar {
  height: 594px;
  position: relative;
}

.form_calendar iframe {
  margin-top: 126px;
  position: absolute;
  width: 1200px;
}

.search_hostel_calendar {
  margin-top: 123px;
  position: absolute;
  width: 568px;
  height: 395px;
  opacity: 0;
  transition: 1s linear;
  margin-left: 310px;
  background-color: #FFFFFF;
}


.search_hostel {
  position: absolute;
  margin-top: 39px;
  margin-left: 310px;
  background-color: #766357;
  width: 568px;
  height: 86px;
  border: none;
  cursor: pointer;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  color: #FFFFFF;
  z-index: 99;
}

.form_search_hostel {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;

}

.date_in {
  margin-top: 55px;
}

.date_in input {
  margin-left: 21px;
  height: 38px;
  width: 346px;
  border: none;
  background-color: #F2F2F2;
}

.date_out {
  margin-top: 26px;
}

.date_out input {
  margin-left: 21px;
  height: 38px;
  width: 346px;
  border: none;
  background-color: #F2F2F2;
}

.search_hostel_age {
  display: flex;
  margin-top: 30px;
  margin-bottom: 54px;
}

.adult_years {
  margin-left: 55px;
}

.adult_years input {
  height: 38px;
  width: 114px;
  border: none;
  background-color: #F2F2F2;
  margin-left: 37px;
  margin-right: 53px;
}

.child_years input {
  height: 38px;
  width: 114px;
  border: none;
  background-color: #F2F2F2;
  margin-left: 17px;
}

.button_search_hostel {
  height: 58px;
  width: 458px;
  margin: 0 55px 0 55px;
  border: none;
  background-color: #81B3D2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_button_search_hostel {
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
}

.main_footer {
  display: flex;
  align-items: center;
  height: 120px;
  margin-top: 10px;
  z-index: 100;
  left: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
}

.social_network_list {
  display: grid;
  grid-template-rows: 48px;
  grid-template-columns: 48px 48px 48px;
  grid-column-gap: 2px;
  margin-left: 180px;
}

.social_network_item {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #81B3D2;
  list-style-type: none;
  text-align: center;
}


.social_network_item img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.number_footer {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  margin-left: 455px;
  margin-top: -25px;
}

.number {
  padding-top: 9px;
}

.html_academy_footer {
  display: flex;
  margin-left: 200px;
}

.html_academy {
  margin-top: 4px;
  margin-right: 8px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;

}


.filter {
  height: 217px;
  background-image: url("../img/background.png");
  display: flex;
}

.filter_sort_option {
  display: flex;
  width: 50%;
  padding-left: 75px;
  padding-top: 2px;
}

.filter_option {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin-left: 0;
  padding-top: 26px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

.sort_option {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  width: 80%;
  padding-left: 41px;
  margin-top: 23px;
}

.checkbox_sort_option {
  display: none;
  position: absolute;
}

.fake_checkbox_sort_option {
  position: absolute;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 23px;
  margin-left: -41px;
}

.checkbox_sort_option:checked + .fake_checkbox_sort_option {
  background-image: url("../img/checkbox-on.png");
}


.filter_price {
  margin: auto;
  padding-left: 50px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

.price_category {
  display: flex;
  width: 317px;
  height: 36px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.price_category p:nth-child(1) {
  border-right: 2px solid #FFFFFF;
}

.price_category p {
  width: 50%;
  margin: auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
}

.price_entry_field input {
  width: 35px;
  background: transparent;
  border: none;
  color: #FFFFFF;
}

.price_slide_container {
  position: relative;
}


.left_price_slider {
  position: absolute;
  -webkit-appearance: none;
  width: 158px;
  height: 2px;
  border-radius: 5px;
  background: #FFFFFF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.right_price_slider {
  position: absolute;
  -webkit-appearance: none;
  margin-left: 158px;
  width: 158px;
  height: 2px;
  border-radius: 5px;
  background: #FFFFFF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.right_price_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}

.left_price_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}


.show_result {
  width: 137px;
  height: 36px;
  margin-top: 33px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: 100px;
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  cursor: pointer;
}

.sorting {
  display: flex;
  align-items: center;
  height: 88px;
  width: 1054px;
  margin: auto;
  text-align: center;
}

.sorting h1 {
  width: 120px;
  margin-right: 46px;
}

.container_checkbox_sorting input {

}

.sorting p {
  width: 75px;
  margin-right: 10px;
}

.sorting span {

}

.main_text_sorting,
.text_sorting {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}

.text_sorting {
  margin-left: 30px;
}

.not_highlighted {
  border-bottom: 1px dashed #81B3D2;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}

.not_highlighted:focus {
  border: none;
}

.highlighted {
  color: #81B3D2;
  border-bottom: none;
}

.sorting_up {
  margin-left: 460px;
}

.sorting_down {
  margin-left: 12px;
}

.found_hotel_list {
  width: 1054px;
  margin: auto;
  border-top: 1px solid #E5E5E5;
}


.found_hotel_item {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
}

.hostel {
  width: 780px;
  height: 90px;
  margin-left: 28px;
}

.title_hostel {
  padding-top: 0;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;

}

.text_hostel {
  display: flex;
  margin-top: 8px;
  margin-bottom: 7px;
}

.kind_hostel {
  width: 116px;
}

.kind_hostel,
.prise_hostel {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
}

.button_details {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  width: 110px;
  height: 27px;
  background-color: #81B3D2;
  color: #FFFFFF;
  border: none;
}

.button_booking {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  width: 142px;
  height: 27px;
  background-color: #766357;
  color: #FFFFFF;
  border: none;
  margin-left: 2px;
}

.point_rating {
  width: 110px;
  height: 27px;
  background-color: #F2F2F2;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  color: #666666;
  margin-top: 47px;
}

.point_rating p {
  padding-top: 3px;
}

.section_error {
  height: 256px;
}

.star_rating {
  direction: rtl;
}


.not_visibility {
  visibility: hidden;
}

.visibility {
  opacity: 1;
}

.disabled {

}

.form_search_hostel input.error {
  outline: 1px solid red;
}
